body {
  background-color: aqua;
  padding: 0;
  margin: 0;
  color: #fff;
}

.main-app {
  background-color: #222;
  max-width: 350px;
  height: 100vh; /* 100% height of the window */
  margin: auto;
}

.header {
  padding: 12px 8px;
  transition: all ease-in-out 0.3s;
}
.header.input-focused {
  padding: 0 0 12px 0;
}
.header.input-focused .search-container {
  border-radius: 0;
}
.search-container {
  color: grey;
  background-color: #555;
  border-radius: 8px;
  padding: 4px;
}
.search-container > div {
  display: inline-block;
  padding: 8px;
}
.search-container > div:hover i.fas {
  color: #f1f1f1;
}
.search-container .search-input {
  width: calc(100% - 110px);
}
.search-container input,
.search-container input::placeholder,
.search-container i.fas {
  color: #b3b3b3;
}
.search-container .search-input input {
  background-color: transparent;
  max-width: 240px;
  font-size: 16px;
  border: none;
}
.search-container .search-input input:focus {
  outline: none;
}
