body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #2c2c2c;
  padding: 0;
  margin: 0;
  color: #fff;
}

@media screen and (min-width:360px) {
  .main-app {
    box-shadow: 0px 0px 5px 0px #1f1f1f;
  }
}

.main-app {
  background-color: #222;
  max-width: 360px;
  min-width: 250px;
  min-height: 100vh; /* 100% height of the window */
  height: 100%;
  margin: auto;
}

.header {
  padding: 12px 8px;
  transition: all ease-in-out 0.3s;
}
.header.input-focused {
  padding: 0 0 12px 0;
}
.header.input-focused .search-container {
  border-radius: 0;
}
.search-container {
  color: grey;
  background-color: #555;
  border-radius: 8px;
  padding: 4px 10px;
}
.search-container > div {
  display: inline-block;
  padding: 8px;
}
.search-container > div:hover i.fas {
  color: #f1f1f1;
}
.search-container .search-input {
  width: calc(100% - 110px);
}
.search-container input,
.search-container input::placeholder,
.search-container i.fas {
  color: #b3b3b3;
}
.search-container .search-input input {
  background-color: transparent;
  max-width: 240px;
  width: 100%;
  font-size: 16px;
  border: none;
}
.search-container .search-input input:focus {
  outline: none;
}

.history-section {
  padding-bottom: 20px;
}
.history-section.searching .section-divider {
  display: none;
}
.history-item {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ccc;
}
.history-item .call-image {
  width: 42px;
  height: 42px;
  float: left;
  border-radius: 50%;
  margin-right: 12px;
}
.history-item .call-more-infos {
  margin-top: 3px;
  font-size: 15px;
  color: #888;
}
.history-item .call-more-infos.missed {
  color: rgb(160, 70, 70);
}

.history-item .call-location {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.search-result-count,
.section-divider {
  font-size: 14px;
  color: #b3b3b3;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
}
.section-divider {
  text-transform: uppercase;
}
