body {
  background-color: #fafafa;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
main {
  max-width: 600px;
  margin: auto;
  overflow-x: auto;
}

.big-square {
  max-width: 400px;
  min-width: 230px;
  border: 2px solid #444;
  border-radius: 8px;
  margin: auto;
}
.big-square .item {
  padding: 8px 16px;
  display: flex;
}
.big-square .item svg {
  display: none;
}
.big-square .item.active svg {
  display: inline;
}
.big-square .item.ringing svg {
  animation: fadeIn 1s ease-in-out 0.5s infinite;
  fill: orange;
}
.big-square .item.stopped svg {
  opacity: 1;
  fill: red;
}
.big-square .item.answered svg {
  fill: rgb(90, 192, 90);
}

.big-square .item .ring {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 50px;
  border: 6px double #444;
  display: inline-block;
  position: relative;
}
.big-square .item .user {
  background-image: linear-gradient(45deg, #99999924 60%, transparent 100%);
  display: inline-block;
  width: calc(100% - (35px + 40px));
  padding: 8px;
  margin-left: 15px;
  border-radius: 8px;
  border-left: 2px solid #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  position: relative;;
}
.big-square .item .user svg {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  float: right;
}
.big-square .item .ring::before {
  content: "";
  position: absolute;
  font-size: 45px;
  border-top: 6px double #444;
  top: 11px;
  left: 33.5px;
  width: 15.5px;
  height: 5px;
  z-index: 13;
}

.button-container {
  margin-top: 30px;
}
.button-container .answer-button {
  display: flex;
  max-width: 400px;
  border: none;
  background-color: rgb(8, 187, 38);
  border-radius: 50px;
  margin: auto;
  padding: 8px 16px;
  font-size: 22px;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
  outline: none;
}
.button-container .answer-button:hover {
  background-color: rgb(7, 133, 28);
}
.button-container .answer-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: invert(1);
}

/* COLORS */
.yellow {
  background-color: yellow;
  color: black;
}
.light-blue {
  background-color: lightblue;
  color: black;
}
.blue {
  background-color: #5582aa;
  color: black;
}

/* ANIMATIONS */
@keyframes fadeIn {
  0%   { opacity: 1; }
  100% { opacity: 0; }
  0%   { opacity: 1; }
}