body {
  background-color: #fafafa;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
main {
  max-width: 600px;
  margin: auto;
  overflow-x: auto;
}

.big-square {
  max-width: 400px;
  min-width: 230px;
  border: 2px solid #444;
  border-radius: 8px;
  margin: auto;
}
.big-square .item {
  padding: 8px 16px;
  display: flex;
}

.big-square .item .ring {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 6px double #444;
  display: inline-block;
  position: relative;
}
.big-square .item .ring:hover {
  background-color : #999;
}
.big-square .item .name {
  background-color: #999;
  display: inline-block;
  width: calc(100% - (35px + 40px));
  padding: 8px;
  margin-left: 15px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  position: relative;;
}
.big-square .item .ring::before {
  content: "";
  position: absolute;
  font-size: 45px;
  border-top: 6px double #444;
  top: 11px;
  left: 33.5px;
  width: 15.5px;
  height: 5px;
  z-index: 13;
}
