body, html {
  background-color: #eee;
}
ul > li {
  padding: 0 !important;
}
ul > li > a {
  display: block;
  height: 100%;
  padding: 8px 16px;
}
ul > li > a::before {
  content: ":: ";
}

.max {
  max-width: 600px;
  margin: auto;
}
